<ContentWithButtons>
  <:body>
    <h3>Summary</h3>
    <h4>Software</h4>
    <p>Current value: {{this.model.configEditor.software.current}}</p>
    <p>New value: {{this.model.configEditor.software.new}}</p>

    <h4>Calibration</h4>
    <p>Current value: {{this.model.configEditor.calibration.current}}</p>
    <p>New value: {{this.model.configEditor.calibration.new}}</p>
  </:body>

  <:buttons>
    <button
        class="btn btn-primary"
        {{on 'click' this.handleBackButtonClicked}}>
      Back
    </button>
    <button
        class="btn btn-primary"
        {{on 'click' this.handleSubmitButtonClicked}}>
      Submit
    </button>
  </:buttons>
</ContentWithButtons>